<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Zurich Test">
<listeners>
          <listener class-name="org.uncommons.reportng.HTMLReporter"/>
         <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>
    <test name="Amazon">
         <classes>
             <class name="TestScripts.LoginTest"/>
              <class name="TestScripts.CreateAccountTest"/>
             <class name="TestScripts.ShoppingTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->